# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
# https://supabase.com/docs/guides/getting-started/quickstarts/nextjs
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=           # service_role key — used by db:reset script only, never expose to browser

NEXT_PUBLIC_SITE_URL = "www.Numerify.me"