@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: 36 20% 10%;
      --text: 50 100% 95%;
      --muted-text: 38 30% 50%;
      --btn-background: 50 100% 52%;
      --btn-background-hover: 43 100% 51%;
      --foreground: 39 28% 16%;
      --shadow-bg: 37 30% 8%;
      --input-box: 47 8% 44%;
      --input-border: 50 27% 82%;
      --bright: 349 100% 65%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
